<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/construsonhos</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <mapping class="Mapeamento.Cliente"/>
    <mapping class="Mapeamento.Fornecedor"/>
    <mapping class="Mapeamento.Funcionario"/>
    <mapping class="Mapeamento.Item"/>
    <mapping class="Mapeamento.Item2"/>
    <mapping class="Mapeamento.Pedido"/>
    <mapping class="Mapeamento.Pedido2"/>
    <mapping class="Mapeamento.Produto"/>
    <mapping class="Mapeamento.Produto2"/>
    <mapping class="Mapeamento.Pedidos"/>
    <mapping class="Mapeamento.Vendas"/>
  </session-factory>
</hibernate-configuration>
